$imgPath: "/src/static/images/";
/*=======background========*/
$background-main: #fff;
$background-sidebar: #f6f9ff;
$background-link: #f0f5ff;
$background-constructor-cv: #f9fafe;
$background-draft-cv: #f3f3f3;

/*=======text========*/
$text-primary-blue: #407bff;
$text-primary-white: #fff;
$text-primary-dark-blue: #25225d;
$text-primary-grey: #9c9c9c;
$text-primary-secondary-gray: #b0b0b0;
$text-primary-error: #d40000;
$text-dsb-button: #efefef;
$text-cancel-dsb-button: #94b5ff;
$text-draft-active: #004fff;
$text-draft-hover: #407bff;


/*=======button========*/
$button-default: #407bff;
$button-hover: #004fff;
$button-active: #25225d;
$button-disabled: #94b5ff;
$cancel-button-background: #e6edff;


/*=======button-loader========*/
$button-circle-main-bcg: #94b5ff;
$button-main-slider: #fff;

$button-circle-grey-bcg: #f3f3f3;
$button-blue-slider: #407bff;


/*=======input========*/
$input-background: #f3f3f3;
$input-stroke-active: #407bff;
$input-stroke-error: #d40000;
$input-eye: #407bff;


/*=======checkbox========*/
$checkbox-default: #407bff;
$checkbox-disabled: #94b5ff;


/*=======scrollbar========*/
$scrollbar: #c1c1c1;

/*=======popUp========*/
$popup-background-main: #fff;
$popup-background-grey: #f6f9ff6b;


/*=======cardsCv========*/
$border-hover-constructorCv: #004fff;
$border-active-constructorCv: #25225d;



