// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
@use './static/scss/variables.scss';

.page {
  // min-height: 100vh;
  // width: 100%;
  text-align: center;
  // background: variables.$background-main url("./static/images/background-login.png") center / cover no-repeat;
  // overflow: hidden;
  padding: 30px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__container {
    margin: 0 auto;
    padding: 10px;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    width: 800px;
  }

  &__pages {
    margin: 50px auto;
    text-align: center;
  }

  &__header {
    color: variables.$text-primary-blue;
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1.33;
    margin-bottom: 10px;
  }

  &__title {
    color: variables.$text-primary-grey;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.357;
    margin-bottom: 48px;
  }
}

.header {
  display: flex;
  min-height: 242px;
  padding-left: 54px;

  img {
    width: 140px;
    height: 143px;
  }

  &__button {
    display: inline-block;
    width: 350px;
  }
}
